<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>Twitter</title>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {% load staticfiles %}
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/blog.css" %}" rel="stylesheet">

    <link href="{% static "js/bootstrap.js" %}" rel="stylesheet">
    <link href="{% static "js/docs.min.js" %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">
    
<style type="text/css">

/*** Parsed Lyrics Content *****************************/
body { padding-top: 70px; }
p{
    margin: 0 0 0 0px;
}
.list_post{
  background-color: #F2F2F2; 
  padding: 0; 
}

.blog-post{
    border-left: 5px solid #D4D4D4; /* Параметры границы */
    background-color: #FFFFFF;
    margin-bottom: 30px;
    padding: 10px;
}
.not_visible{
  visibility: hidden;
}
.form_post{
    margin-left: 0px;
    margin-top:  10px;
    margin-bottom: 10px;
    margin-right: 0px;
}

.form_margin_inl{
    display: inline-block;
    width: auto;
    height: 30px;
    margin: 0 0 0 0px;
    padding: 5 10 5 10px;
    border-radius: 3px;
    vertical-align: middle;
    text-align: center;
    color: #555;    
}
a {
    color: #BBBBBB; /* Цвет обычной ссылки */
}
a:hover {
    color: #131111;
}
.twit_font_size{
    font-size: 19pt;
}
</style>
</head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Baby don't hurt me</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
            <ul class="nav navbar-nav">
                <!--
                <li class="active"><a href="#">Just Button 1</a></li>
                <li><a href="#">Just Button 2</a></li>
                <li><a href="#">Just Button 3</a></li>
                -->
            </ul>

            <form class="navbar-form navbar-right" role="search" name="f1" method="post" action="{{ logout }}">{% csrf_token %}
                <input type="hidden" name="type_post" value="exit">
                <h4 class="form_margin_inl">{{ username }}</h4>                
                <button type="submit" class="btn btn-default">Exit</button>
            </form>
          

        </div><!-- /.navbar-collapse -->

      </div>
    </nav>

    <div class="container">
        <div class="blog-header">
            <h1 class="blog-title">Note. Local. Ever.</h1>
        </div>
        
        
      
      <div class="row">

        <div class="col-sm-8">            
            <form name="f1" method="post" action="{{ send_link }}">{% csrf_token %}                
                <input type="text" name="text" class="form-control form_post" placeholder="Text input">
                <button type="submit" class="btn btn-default btn-sm">Send new post</button>
            </form><!-- /.blog-FORM --> 
            <div>        
                <!-- /.blog-post -->
                {% for ar in articles %}                
                <div class="blog-post"> 
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <p class="blog-post-meta">{{ ar.article_date}}</p>
                        </div>
                        <div align="right" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div >                            
                            <a href="{{ update_form }}{{ ar.id }}" onclick="form.submit();"><span class="glyphicon glyphicon-pencil"></span></a>
                                                        
                            <a href="{{ delete_twit }}{{ ar.id }}" onclick="form.submit();"><span class="glyphicon glyphicon-remove"></span></a>                            
                            </div>
                        </div>
                    </div>
                    {% if ar.id != twit_update_id %}
                        <h3>{{ ar.twitter_text }}</h3>
                    {% else %}
                        <form name="f1" method="post" action="{{ update_db }}">{% csrf_token %}                
                            <input type="hidden" name="update_id" value="{{twit_update_id}}">
                            <input type="text" name="text" class="form-control form_post" value="{{twit_update_text}}">
                           
                            <button type="submit" class="btn btn-default btn-sm form_margin_inl">Confirm changes</button>
                            <button type="button" class="btn btn-default btn-sm form_margin_inl" onClick='location.href="/blog/"'>Cancel</button>
                        </form>
                    {% endif %}
                </div>
                {% endfor %}
                

            </div> 
            <ul class="pager">
                <li><a href="#">Previous</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>
        <!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>My first test progect.</p>
            <p>Django + PostgreeSQL</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
              <li><a href="#">March 2013</a></li>
              <li><a href="#">February 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/mrkiril">GitHub</a></li>
              <li><a href="https://vk.com/mrkiril">Vk</a></li>
              <li><a href="https://www.facebook.com/kukhelnyi">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <div class="blog-footer">
      <p>Blog template built for <a href="https://facebook.com/flyonts">Flyonts</a> by <a href="https://www.facebook.com/kukhelnyi">mrkiril</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </div>


    
  
</body></html>