<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Twitter</title>
    <!-- Custom styles for this template -->
    {% load staticfiles %}
    <!--
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    -->
    <script src="{% static "js/docs.min.js" %}"></script>
    
    <script src="{% static "js/core_twitter.js" %}"></script>    

    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">    
</head>
<style type="text/css">
</style>

<body>
{{ BODY }}   
</body>
</html>
